:root {
    --primary-color: #004AAC;
}
body {
    padding-top:90px ;
}

/* TEXT */
.text-primary,
.subheading,
.heading-section .subheading {
    color: var(--primary-color) !important;
}

/* BUTTON */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/* LINK */
a {
    color: var(--primary-color);
}

/* NAVBAR */
.ftco-navbar-light {
    background: #ffffff !important;
}
